* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;


    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: rgb(250, 250, 250);
}

ul {
    list-style: none;
}

:root {
    --theme-color: 255, 100, 0;
    --theme-color-red: 255, 100, 0;
    --theme-color-blue: 0, 110, 255;
    --theme-color-green: 43, 255, 0;
}